/* Reset default margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 35px;
}

/* Set default background and text color */
body {
  background-color: #ffffff;
  color: #03080D;
}

/* Define color variables */
:root {
  --primary-color: #00b2ff;
  --secondary-color: #f987ff;
  --accent-color: #ffcc00;
  --bg-color:#ffffff;
}
.vsBg{
  background-color: #03080D;
  color: #ffffff
}
/* Front Page Style */
.startBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.startBtnContainer{
  padding: 25px;
}
  


#startButton {
  border: none;
  color: #fff;
  padding: 20px 30px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

#startButton:hover {
  background-color: #279eff;
}

/* Game Style */
.vsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.vsImg {
  width: 200px;
  height: 200px;
}

.back {
  background-color: var(--bg-color)
}

.rpsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.rpsContainer li img{
  width: 600px;
}
.rpsContainer li img:hover{
  background-color: #dadcdd;
  cursor: pointer;
  border-radius: 50%;
}
.rpsContainer li {
  padding: 10px;
  list-style:none;
}
.hide{
  display: none;
}
/* Game Style End */
